<div class="container">
  <h1>{{courseData.title}}</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima provident tempora aperiam animi cum, debitis, doloremque sapiente dolor totam numquam necessitatibus dicta! Voluptate ab, nihil saepe voluptatum maxime adipisci! Eius? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minima facere officia. Accusantium, quidem incidunt recusandae sequi asperiores alias sunt ducimus minima cum, inventore modi atque neque, esse ea officia.</p>

  <button type="button" name="cancel" ng-click="eventModuleHide()">Ok! :)</button>
</div>
