<main class="courses container">

  <aside class="course-list">
    <div class="drpdwn-student-cal">
      <select ng-change="goToCourse(courseName)" ng-model="courseName">
            <option ng-repeat="(key, value) in courses" value="{{value.name}}">{{value.content.name}}</option>
      </select>
    </div>

    <button role="button" ng-click="eventModule()">Lägga till ny kurs</button>
    <ul>
      <li ng-repeat="class in events">
        <a ng-click="goToClass(class.title)" style="border-color: {{stringToColor(class.title)}}; changeToColorIfBackgroundColorInsteadOfBorderColor:{{getReadableColor(stringToColor(class.title))}}">
          {{ class.title }}
        </a>
      </li>
    </ul>
  </aside>

  <section class="cal-display">
    <div id="calendar" ui-calendar="uiConfig.calendar" calendar="myCalendar" ng-model="eventSources"></div>
  </section>
</main>

<section  ng-include="'app/components/student/form.html'" class="modal">
</section>

