// Calender site
.courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .courses {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .course-list {
      max-width: 30%;
    }

    .cal-display {
      max-width: 50%;
    }
  }
}

.course-list {

  ul {
    list-style: none;
    width: 100vw;
    margin-bottom: 70px;

    li:hover{
      background: #ffa500;
      border-radius: 3px;
    }

    li:active{
      background: $main-color;
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 13px;
      padding: 15px;
    }
  }
}
