<div class="background">
  <div class="container landing">
    <div class="login-container">
      <div class="select-style">
        <select ng-change="getParam(selected.content.name)" ng-model="selected.content.name">
          <option ng-repeat="course in courses">{{course.content.name}}</option>
        </select>
      </div>
      <a ui-sref="/student({id: paramId})"><button type="button" name="button">Student</button></a>
      <span class="padding"></span>
      <button type="button" name="button">Ansökande</button>
    </div>
  </div>
</div>

