/**
 * Basic typography style for copy text
 */

html {
  color: $text-color;
  font-size: $root-font-size;
  line-height: 1.38;
	font-family: $font-family-body;
  font-weight: $default-font-weight;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-weight: 600;
  letter-spacing: -0.03rem;
}
