/**
 * Basic typography style for copy text
 */

html {
  color: $text-color;
  font-size: $root-font-size;
  line-height: 1.4;
	font-family: $font-family-body;
  font-weight: $default-font-weight;
}

h1 {
  font-weight: 600;
}
