footer {
  background-color: rgba(68, 48, 73, 1.00);
  height: 200px;
  color: white;

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .small {
    font-size: 14px;
  }
}