/**
 * Buttons
 */
.fc-state-default,
.fc .fc-button-group > *,
.fc-state-default.fc-corner-right,
.fc .fc-button-group > :first-child,
.fc-toolbar button,
.fc button,
.fc-state-default {
  float: unset;
  @extend button;
}

.fc .fc-toolbar > * > * {
  float: unset;
  margin: unset;
}

.fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-toolbar {
  .fc-center,
  .fc-clear {
    display: none;
  }

  .fc-right {
    @extend .fc-toolbar;
    width: 40%;
  }
}

#calendar {
  margin-bottom: 4rem;
}
